<div class="header">
    <button class="button ml-auto" (click)="add()">Add</button>
</div>
<ngx-datatable #dataTable class="material expandable" [headerHeight]="50" [limit]="5" [footerHeight]="50"
    rowHeight="auto" [rows]="data" [rowClass]="getRowClass">
    <ng-container *ngFor="let column of columns; let i = index">

        <ng-container *ngIf="column.props?.expandableRow; else defaultColumn">
            <ngx-datatable-row-detail [rowHeight]="100" #detailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div style="padding-left:35px;">
                        <h3>{{ column.name }}</h3>
                        <div>{{ row[column.name] }}</div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ng-container>

        <ng-template #defaultColumn>
            <ngx-datatable-column name="{{column.name}}" prop="{{column.name}}" [width]="230">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <ng-container *ngIf="!inEditState[rowIndex]">{{value}}</ng-container>

                    <ng-container [ngSwitch]="column.props?.type" *ngIf="inEditState[rowIndex]">

                        <input *ngSwitchCase="'date'" type="datetime-local"
                            [ngModel]="dateToString(data[rowIndex][column.name])"
                            (ngModelChange)="changeDate($event, rowIndex)">

                        <input *ngSwitchDefault value="{{column.name}}" [(ngModel)]="data[rowIndex][column.name]"
                            [type]="column.props?.type">
                    </ng-container>

                </ng-template>
            </ngx-datatable-column>
        </ng-template>

    </ng-container>

    <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <i class="fa fa-pencil" title="Modify" *ngIf="!this.inEditState[rowIndex]"
                (click)="toggleEdit(rowIndex)"></i>
            <ng-container *ngIf="this.inEditState[rowIndex]">
                <a href="javascript:void(0)" title="Save" (click)="save(rowIndex)">
                    <i class="fa fa-check"></i>
                </a>
                <!-- <a href="javascript:void(0)" title="Delete" (click)="delete(rowIndex)">
                    <i class="fa fa-trash-o"></i>
                </a> -->
            </ng-container>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>